.main-container {
  text-align: center;
}
.text-header {
  margin-top: 25px;
  color: #787c7f;
  margin-bottom: 20px;
}
.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 0 20px;
}
.wrapper-input {
  width: 35vw;
  margin-right: 2vw;
}
.wrapper-table {
  padding: 0 20.5vw;
  text-align: center;
}
.margin-left {
  margin-left: 10px;
}
.app-name {
  margin-left: auto;
  margin-right: 10px;
  color: #787c7f;
  font-size: 24px;
}
.export-btn {
  margin-left: 10px;
}
.c-footer {
  background-color: #f8f9fa !important;
}
.btn-reset {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .wrapper-input {
    width: 30vw;
  }
  .wrapper-choose-btn {
    height: 12vw;
    width: 35vw;
  }
  .wrapper-choose-btn,
  .wrapper-exp-btn {
    font-size: 4vw;
    margin: 5vw 0 0 !important;
  }
  .wrapper-exp-btn {
    height: 13vw;
    width: 40vw;
  }
  .wrapper-table {
    font-size: 5vw;
    padding: 0 5vw;
  }
}
