.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px 30px 20px;
  font-family: "DM Sans", sans-serif !important;
}

.button-header {
  font-size: 24px;
  font-weight: 500;
}

.MuiGrid-root .makeStyles-grid-22 {
  justify-content: space-between;
}
