.message-template {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-field-template {
    width: 72vw;
    height: 12vw;
    resize: horizontal;
    max-width: 72vw;
    padding: 0.5vw;
    
}