.modal {
    height: 620px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    padding: 4rem 30rem;
    opacity: 0.9;
}

.modal-body {
    padding: 2rem;
    width: 400px;
    border-radius: 5px;
    background-color: white;
}